/*日本語のフォント*/
#top{
   font-family:'メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
   background-color: #FFFFFF;
}

/*body, input, textarea, select{font-family:Verdana, Geneva,'メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans', sans-serif;}
h1, h2, h3, h4, h5, h6, .heading{font-family:Georgia, "Times New Roman", Times,'メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans', serif;}*/


/*表示されるレビューの文字サイズ*/
.review{
    font-size: 1.2em;
}

/*本のタイトル*/
.booktitie{
    font-size: 15px;
}

