
/*プロフィール*/
/*input,
input::-webkit-input-placeholder{
    font-size: 11px;
    padding-top: 3px;

}*/

.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
/*    margin-top: 90px;*/
    border-radius: 10px;
}
.img-thumbnail{
    border: none;
}

.pull-center{
    text-align: center;
    padding-top:20px; 
}
.containter h3{
    padding-bottom: 0;
    color: black;

}
.img-center{
    display: block;
    margin: 0px auto;
    text-align: center;
}
#img-profile{
    padding: 10px;
}
.container #img-profile{
    margin-top: 16px;
}
.margin-img{
    margin-right: 20px;
}
.text-center{
    margin-top: 10px;
}

@media(min-width: 767px){ /*Desktop*/
    .container #img-profile{
        margin-bottom: 16px;
    }
    .margin-well{
        margin-top: 16px;
        background-color: transparent;

        border:none;
    }
}

@media(max-width: 767px){ /*Mobile and Tablet*/
    .margin-well{
        margin-top: 10px;

    }
}
h3{
/*    padding-left: 80px;*/

}
.img-responsive{
    display: inherit;
    height: 170px;
}

.bestbook-title{
    color: blue;
}
.bestbook strong{

}
.glyphicon{
    text-align: -webkit-right;
}
/*ポイントとレベル*/
.ptlv{
    margin-left: 22px;
}
.name{
    text-align: center;
}
.date-body{
  background-color: white;
  padding:0 5px 5px 5px;
  float: left;
 /* border: 1px solid green;*/
}
.date-body .date-title{
  color: black;
}


.date-body .date-content{
  background-color: white;
}
.date-body .date-content p.dia{
  margin: 0; font-size: 15px; font-weight: bold;
}
.nomargin{
  margin: 0;
}

.well p{
    padding-top: 10px;
    font-size: 15px;
    color:black;
}
.well strong{
    padding-top: 10px;
    font-size: 15px;
    color:black;
}
.free strong{
    font-size:5px;
}

.fa-bookmark-o{
    color: red;
}

/*本棚*/
.container{
    margin: 0 auto;
}
.bookshelf {
/*    margin-left:300px;*/
    position: relative;
    width: 700px;
    height: 897px;
    margin-left: 50px;
    box-shadow:5px 5px 5px 5px rgba(0,0,0,1);

}
.shelftitle{
    margin:0 auto;
    text-align: center;
margin-left: 180px;
padding-top:30px;
}

.absolute{
    float: left;
    position: absolute;
    padding:0px 10px 0px 10px;
    left: 30px;
    top:10px;
}

.absolute img{
/*padding-bottom: 15px;*/
opacity: 0.8;
}

.best{
    border: 5px solid;
    border-color: red;
    margin-top: 5px;

}
.favorite{
    border: 5px solid;
    border-color: orange;
    margin-top: 5px;
}
.book{
    border: 5px solid;
    border-color: white;
    margin-top: 5px;
}
.text-center{
    width: 700px;
    text-align: -webkit-center;
}
.containter{
 /*   width: 700px;*/
    text-align: -webkit-center;
    background-color: white;
    z-index: 1;
}
.shelf{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}
a:hover img{
    opacity: 1;
}
.paging li{
float: left;
list-style: none;
}
.pageleft{
    display: inline-block;
    float: left;


}
.pageright{
display: inline-block;
    float: right;
    padding-left: 300px;


}



/*バックグラウンド*/
#background{
    background-image:url("../images/background.png");
    z-index:1;
    background-position:    top center;
    -moz-background-size:   cover;
/*    background-size:        cover;*/
    margin-bottom:0px;
    }
.aboutus{
        background-color:       rgba(0,0,0,0);
        margin-top: 50px;
    }
.aboutus h3{
    color:white;
}

    /*吹き出し*/
/*.detail{
position:relative;
}
.detail:hover:after{
content:"2017/05/26-2017/05/28";
display:block;
position:absolute;
margin-bottom: 70px;
bottom:0px;
left:0;
width:100px;
height:50px;
line-height:20px;
background-color:#fbd76f;*/
/*font-weight:bold;
text-align:center;
color:black;
}*/


