
body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	font-family: 'Oxygen', sans-serif;
}

.main{
 	margin-top: 70px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
    color:black;

}


input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;

}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding:0px 100px;

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 400px;
    padding: 40px 40px;
    margin-bottom:30px;

}

.login-button{
	margin-top: 5px;
    background:brown; 
   
}

.login-register{
	font-size: 11px;
	text-align: center;
}
.btn-lg:hover {
   background:brown;
    }
#contact-page{
    background-image:url("../images/background.png");
    z-index:1;
/*    background-repeat:      no-repeat;*/
    background-position:    top center;
/*    -moz-background-size:   cover;*/
/*    background-size:        cover;*/
    margin-bottom:0px;
    }
.kabe{
        /*background-color:       rgba(0,0,0,0.4);*/
    }
.btn-radio {
    width: 100%;
}
.img-radio {
/*    opacity: 0.5;*/
    margin-bottom: 5px;
}
.img-responsive{
    height:87px;
}

.space-20 {
    margin-top: 20px;
}
.btn-primary{
    background:brown;
}

p{
    margin-right:20px;
}
.footer{
    background:none;
    padding-top:40px;
}
.image-circle{ border-radius: 50%}

fieldset{
    padding-left:5px;
    padding-bottom:5px;
}
@media (min-width: 768px){
.form-horizontal .control-label{
text-align:left;
}
}

/*checkpage*/
.rewrite{
    margin-right:30px;
}
.rewrite:hover{
    color: gray;
}